---
layout: default
---

<div class="home">
  <p class="intro">
    Kompletny przewodnik po Krajowym Systemie e-Faktur dla przedsiębiorców i księgowych.
  </p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</div>
        <a class="post-link" href="/ksef-blog{{ post.url }}">{{ post.title | escape }}</a>
        {% if post.excerpt %}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 150 }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
